<div class="flex ">
    <div class="hidden sm:flex flex-col sm:w-1/2 md:w-2/3 items-start">
        <img class="h-16 w-auto rounded-full  mb-4" src="/static/brody-120px.jpeg" alt="Brody MacLean">
        <p class="mb-2 pr-16 mt-0">
            Multi-disciplinary designer working on user interfaces and design systems
            for digital products.
        </p>
        <p class="mb-2 pr-16 mt-0">
            Built with 💛,
            <a href="https://11ty.dev/" rel="noopener" target="_blank">11ty</a> and
            <a href="https://tailwindcss.com/" rel="noopener" target="_blank">Tailwind CSS</a>.
        </p>
    </div>

    <div class="w-1/2 sm:w-1/4 md:w-1/6 flex flex-col items-start">
        <p class="mb-4 mt-0 text-textSubtle">Navigate</p>
        <a href="/" class="py-1">Home</a>
        <a href="/about/" class="py-1">About</a>
        <a href="/journal/" class="py-1">Journal</a>
        <a href="/#featured-work" class="py-1">Work</a>
    </div>

    <div class="w-1/2 sm:w-1/4 md:w-1/6 flex flex-col items-start">
        <p class="mb-4 mt-0 text-textSubtle">Connect</p>
        <a href="https://twitter.com/BrodyMaclean" target="_blank" rel="noopener"
            class="py-1 shadow-none">Twitter</a>
        <a href="https://instagram.com/Brody" target="_blank" rel="noopener" class="py-1">Instagram</a>
        <a href="https://www.linkedin.com/in/BrodyMaclean/" target="_blank" rel="noopener"
            class="py-1">LinkedIn</a>
        <a href="mailto:hello@brody.com?Subject=Hey Brody!" target="_blank" rel="noopener"
            class="py-1">Email</a>
        <a href="https://codepen.io/Brody" target="_blank" rel="noopener" class="py-1">Codepen</a>
        <a href="https://github.com/Brody" target="_blank" rel="noopener" class="py-1">Github</a>
    </div>
</div>