<div class="inline-flex flex-wrap max-w-full bg-bgOffset rounded-md py-2 pl-2 pr-4 min-w-0 flex-1">

    <div class="flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" alt="Solé Fixtape Vol.77" class="w-12 h-12 mr-3 rounded">
            <g fill="#909090" fill-rule="evenodd">
                <path fill-opacity=".25" d="M0 0H200V200H0z"></path>
                <path d="M143 118c0 11.046-8.954 20-20 20s-20-8.954-20-20 8.954-20 20-20c3.643 0 7.058.974 10 2.676v-36.62L81 79.944V136c0 11.046-8.954 20-20 20s-20-8.954-20-20 8.954-20 20-20c3.643 0 7.058.974 10 2.676V61l72-22v79z" fill-opacity=".5"></path>
            </g>
        </svg>
        <div class="flex flex-col pt-1">
            <div class="track flex leading-snug truncate">
                <a href="https://www.last.fm/music/Sol%C3%A9+Bicycles/_/Sol%C3%A9+Fixtape+Vol.77" target="_blank" class="shadow-none mr-2 text-textContrast min-w-0">Solé Fixtape Vol.77</a>
                <span class="artist min-w-0">Solé</span></div>
            <div class="mono text-14 text-textSubtle track--now-playing flex flex-row align-bottom">Now Playing
              <svg id="now-playing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" class="ml-2 h-2 w-2 rounded-none self-center fill-current">
                    <g id="now-playing-bar" transform="matrix(1 0 0 1.46961 1.5 16)">
                        <rect id="bar-1" width="3" height="4.365" rx="0" ry="0" transform="translate(-1.5 -4.365)" stroke="none" stroke-width="1"></rect>
                    </g>
                    <g id="bar-2_ts" transform="translate(6.5 16)">
                        <rect id="bar-2" width="3" height="13" rx="0" ry="0" transform="translate(0 -13)" stroke="none" stroke-width="1"></rect>
                    </g>
                    <g id="bar-3_ts" transform="translate(13 16)">
                        <rect id="bar-3" width="3" height="8" rx="0" ry="0" transform="translate(0 -8)" stroke="none" stroke-width="1"></rect>
                    </g>
                </svg>
            </div>
        </div>
    </div>

</div>