<div
	class="inline-flex flex-wrap max-w-full bg-bgOffset rounded-md py-2 pl-2 pr-4 min-w-0 flex-1"
>
	<div class="flex flex-row">
		{{ '/src/static/nowplaying/track-placeholder.svg' | svgContents("w-12 h-12 mr-3 rounded") | safe }}

		<div class="flex flex-col pt-1">
			<div class="track flex leading-snug truncate">
				<a
					href="https://www.last.fm/music/Sol%C3%A9+Bicycles/_/Sol%C3%A9+Fixtape+Vol.77"
					target="_blank"
					class="shadow-none mr-2 text-textContrast min-w-0"
					>Solé Fixtape Vol.77
				</a>
				<span class="artist min-w-0">Solé</span>
			</div>
			<div
				class="mono text-14 text-textSubtle track--now-playing flex flex-row align-bottom"
		> 
				Now Playing
				{{ '/src/static/nowplaying/track-nowplaying.svg' | svgContents("ml-2 h-2 w-2 rounded-none self-center fill-current") | safe }}
			</div>
		</div>
	</div>
</div>