<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- capture the CSS content as a Liquid variable -->
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body class="font-var bg-bg text-text antialiased grid grid-cols-grid min-h-screen">
    <a href="#main" class="skip-link">Skip to main content</a>

    {% if not hide_header %}
      {% include "nav.njk" %}
    {% endif %}

    <main id="main" class="col-start-3 col-span-1 px-5 mt-20 md:mt-40 py-16 md:py-24">
      {{ content | safe }}
    </main>

    <div class="bg-bgOffset grid col-start-1 col-span-full grid-cols-grid">
      <footer class="col-start-3 col-span-1 px-5 py-8 md:py-12 lg:py-16">
        {% include "footer.njk" %}
      </footer>
    </div>

  </body>
  <script src="/static/app.bundled.js"></script>
</html>