@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

/* purgecss start ignore */
@import "utils/_syntax.css";

@font-face {
	font-family: "Recursive";
	/* src: url("/static/fonts/Recursive_VF_1.074.woff2") format("woff2-variations"); */
	src: url("/static/fonts/Recursive_VF_1.074--subset-GF_latin_basic.woff2")
		format("woff2-variations");
	font-weight: 300 1000;
	font-style: oblique 0deg 14deg;
	font-display: swap;
}

:root {
	--color-text: #94a8cc;
	--color-text-contrast: #dfe4ec;
	--color-text-subtle: #73829e;
	--color-bg: #040d21;
	--color-bg-offset: #0c162d;
	--color-bg-contrast: #1a263d;
	--color-bg-contrast-80: rgba(26, 38, 61, 0.8);
	--color-primary: #3bf0e4;
	--color-primary-offset: #1cbdb2;
	--color-secondary: #ffe57f;
	--color-gradient: 94deg, #3bf0e4, #bca1f7, #ff7170, #f49267, #ffe532;
	--mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
	--casl: "CASL" 0; /* Casual: Linear to Casual */
	--wght: "wght" 382; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
	--slnt: "slnt"-1; /* Slant: 0 to -15 degrees, auto cursive at -14 */
	--CRSV: "CRSV" 0.5; /* Cursive: always roman, auto substitution, or always cursive */
}

html {
	scroll-behavior: smooth;
}

::selection {
	@apply bg-primaryOffset text-bg;
}

::before,
::after {
	@apply font-var;
}

:focus,
button:focus {
	outline: solid 3px rgba(0, 0, 0, 0.05);
	outline-offset: 4px;
}

.font-var {
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

header a {
	@apply text-text fill-current transition;
}

header a:hover {
	@apply text-primary border-none;
}

header :not(ul) a:hover {
	@apply border-bgContrast border;
}

main a {
	@apply text-primary border-b border-bgContrast transition;
}

main a:hover {
	@apply text-primaryOffset border-b border-primaryOffset;
}

footer a {
	@apply text-textContrast transition;
}

footer a:hover {
	@apply text-primary;
}

p,
pre {
	@apply my-4;
}

@screen md {
	p,
	pre {
		@apply my-5;
	}
}

img {
	@apply rounded-md;
}

.title {
	--mono: "MONO" 0;
	--casl: "CASL" 1;
	--wght: "wght" 728;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

.subtitle {
	--mono: "MONO" 0;
	--casl: "CASL" 1;
	--wght: "wght" 412;
	--slnt: "slnt"-12;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

:is(h1, h2) {
	@apply leading-tight;
	--mono: "MONO" 0;
	--casl: "CASL" 1;
	--wght: "wght" 618;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}
:is(h4) {
	@apply leading-tight;
	--mono: "MONO" 0.8;
	--casl: "CASL" 1;
	--wght: "wght" 518;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}
:is(h3, h5) {
	@apply leading-tight;
	--mono: "MONO" 0;
	--casl: "CASL" 1;
	--wght: "wght" 458;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

:is(h1, h2, h3, h4, h5) a {
	@apply text-textContrast border-b border-bgContrast;
}

:is(h1, h2, h3, h4, h5) a:hover {
	@apply text-primary border-bgContrast;
}

:is(h1, h2, h3, h4, h5) a:hover svg {
	@apply fill-current text-primaryOffset;
}

h1 {
	@apply text-24 mt-12 mb-5 text-textContrast;
}

h2 {
	@apply text-20 mt-10 mb-4 text-textContrast;
}

h3 {
	@apply text-18 mt-6 mb-3 text-textContrast;
}

h4 {
	@apply text-16 mt-6 mb-3 text-textContrast uppercase;
}

h2 + h3 {
	@apply mt-2;
}
h3 + p,
h4 + p {
	@apply mt-3;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(-5px);
	}
}
@keyframes bounce {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-5px);
	}
}

#note #excerpt:target {
	@apply pt-24 -mt-24 relative;
	&::before {
		@apply absolute top-24 -left-6 text-20 text-primary -mt-0.5;
		content: "→";
		-webkit-animation: bounce 2s infinite ease-in-out;
		-o-animation: bounce 2s infinite ease-in-out;
		-ms-animation: bounce 2s infinite ease-in-out;
		-moz-animation: bounce 2s infinite ease-in-out;
		animation: bounce 2s infinite ease-in-out;
	}
}

@screen md {
	:is(h3, h4, h5) {
		@apply leading-snug;
	}
	h1 {
		@apply text-28 mt-10 mb-5;
	}

	h2 {
		@apply text-24 mt-12 mb-5;
	}

	h3 {
		@apply text-20 mt-8 mb-4;
	}
	h4 {
		@apply text-16;
	}

	h1 + h2 {
	}

	h1 + h3 {
		@apply leading-snug mt-3 mb-4;
	}
	h2 + h3 {
		@apply mt-6;
	}
	h3 + p,
	h4 + p {
		@apply mt-4;
	}
	#note #excerpt:target {
		@apply pt-40 -mt-40;
		&::before {
			@apply top-40 -left-8;
		}
	}
}

@screen lg {
	h1 {
		@apply text-32 mb-4;
	}

	h2 {
		@apply text-24;
	}

	h3 {
		@apply text-20;
	}

	h1 + h2 {
	}

	h1 + h3 {
		@apply leading-snug mt-5 mb-4;
	}
	#note #excerpt:target {
		@apply pt-48 -mt-48;
		&::before {
			@apply top-48 -left-10;
		}
	}
}

figure {
	figcaption {
		@apply text-12 text-textSubtle text-center mt-2;
	}
}

aside {
	/* mono casual */
	@apply hidden text-12 text-textSubtle mb-3 text-left;
}
@screen lg {
	aside {
		@apply inline-block absolute right-0 w-40 -mr-48;
	}
}
@screen xl {
	aside {
		@apply w-56 -mr-64;
	}
}

hr {
	@apply border-bgContrast my-8;
}

progress {
	@apply rounded-full bg-bgContrast overflow-hidden;
}
progress::-webkit-progress-bar {
	@apply bg-bgContrast rounded-full overflow-hidden;
}
progress::-webkit-progress-value {
	@apply bg-textSubtle;
}
progress::-moz-progress-bar {
	@apply bg-textSubtle;
}

mark {
	@apply bg-bgContrast text-primary px-1;
	border-radius: 0.25em 0.15em 0.5em 0.1em;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
}

p mark {
	--wght: "wght" 422;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

.apsect-16-9 {
	@apply aspect-w-16 aspect-h-9;
}

.bg-blur {
	backdrop-filter: blur(12px);
}

.mono {
	--mono: "MONO" 0.8;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

.casual {
	--casl: "CASL" 1;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

.gradient {
	background: linear-gradient(var(--color-gradient));
	background-size: 200% 200%;
	animation: gradient 2s ease infinite !important;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

article {
	ol {
		@apply list-decimal pl-6  my-5;
		li {
			@apply my-4;
		}
		::marker {
			@apply text-textSubtle;
		}
	}
	ul {
		@apply list-disc pl-6 my-5;
		li {
			@apply my-4;
		}
		::marker {
			@apply text-textSubtle;
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.tag {
	margin-right: 1rem;
	--casl: "CASL" 1;
	--mono: "MONO" 0.8;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

.tag a {
	@apply text-textContrast border-0;
}

.tag a:hover {
	@apply text-primary border-b border-textSubtle;
}

.tag a::before {
	@apply text-textSubtle;
	margin-right: 2px;
	content: "#";
	--casl: "CASL" 0;
	--mono: "MONO" 0.8;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

iframe {
	@apply max-w-full;
}

blockquote {
	@apply border-l-2 border-secondary pl-5;
	--casl: "CASL" 1;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt),
		var(--CRSV);
}

blockquote.large {
	@apply -mx-5 my-5 border-l-2 border-secondary bg-bgOffset px-5 py-1;
}

@screen md {
	blockquote {
		@apply ml-0 pl-6;
	}
	blockquote.large {
		@apply border-l-4 -mx-8 px-8 py-2 text-18;
	}
}

blockquote.large :first-child {
	@apply mt-4;
}

blockquote.large :last-child {
	@apply mb-4;
}

/* Rating */

.rating {
	ul {
		li {
			@apply ml-0.5;

			.star-base {
				@apply text-bgContrast fill-current;
			}
		}
	}

	&.rating-\.5 {
		li:nth-child(1) path.star-half {
			@apply text-text fill-current;
		}
	}

	&.rating-1 {
		li:nth-child(1) path.star-base {
			@apply text-text fill-current;
		}
	}

	&.rating-1\.5 {
		li:nth-child(1) path.star-base {
			@apply text-text fill-current;
		}

		li:nth-child(2) path.star-half {
			@apply text-text fill-current;
		}
	}

	&.rating-2 {
		li:nth-child(-n + 2) path.star-base {
			@apply text-text fill-current;
		}
	}

	&.rating-2\.5 {
		li:nth-child(-n + 2) path.star-base {
			@apply text-text fill-current;
		}

		li:nth-child(3) path.star-half {
			@apply text-text fill-current;
		}
	}

	&.rating-3 {
		li:nth-child(-n + 3) path.star-base {
			@apply text-text fill-current;
		}
	}

	&.rating-3\.5 {
		li:nth-child(-n + 3) path.star-base {
			@apply text-text fill-current;
		}

		li:nth-child(4) path.star-half {
			@apply text-text fill-current;
		}
	}

	&.rating-4 {
		li:nth-child(-n + 4) path.star-base {
			@apply text-text fill-current;
		}
	}

	&.rating-4\.5 {
		li:nth-child(-n + 4) path.star-base {
			@apply text-text fill-current;
		}

		li:nth-child(5) path.star-half {
			@apply text-text fill-current;
		}
	}

	&.rating-5 {
		li:nth-child(-n + 5) path.star-base {
			@apply text-secondary fill-current;
		}
	}
}

/* purgecss end ignore */
