---
layout: base.njk
pagination:
    data: collections.notes
    size: 10
---

<section id="intro" class="mb-20 md:mb-32 lg:mb-40">

    <h1>G'day, I’m <span class="inline-block gradient">Brody MacLean</span>, a <span
            class="md:inline-block">multi-disciplinary</span> product designer based in Sydney, Australia.
    </h1>

    <h3>Currently, I’m designing software for the insurance industry at Mitti.</h3>

    {% include "nowplaying.njk" %}

</section>

<section id="main">

    <div class="entry relative mb-20 md:mb-32 lg:mb-40">
        <div class="mono text-12 text-textSubtle mb-3 lg:absolute lg:w-40 lg:mt-3 lg:-ml-48 lg:text-right">March 18, 2021
        </div>
        <h1 class="text-24 md:text-28 lg:text-32 text-textContrast mb-5">
            <a href="#">keming (kêm-'îng); The result of improper kerning</a>
        </h1>
        <figure class="my-5">
            <img src="static/about/brody.jpg" alt="">
            <figcaption class="text-12 text-textSubtle text-center mt-2">Chance political interesting I remember.
            </figcaption>
        </figure>
        <p>It is in our nature to be anthropocentric — to believe that everything revolves around human beings and our
            needs. </p>
        <p>
            When we consider what sets us apart, we think of things like culture and traditions, the importance of
            family, a sense of self, and <a href="#">the ability</a> to reason and introspect. We consider that our
            large brains grant us a position of superiority.</p>
        <aside
            class="mono casual hidden text-12 text-textSubtle mb-3 lg:inline-block lg:absolute lg:right-0 lg:w-40 xl:w-56 lg:-mr-48 xl:-mr-64 lg:text-left">
            First be tax chance collection chair. Go lot check natural. None imagine address.</aside>
        <p>
            I assume it would bother people who think this way to learn that we are far from unique in these respects.
            In fact, I hope to bother them today with a brief discussion of one of the animal kingdom’s most
            intelligent, mysterious, and impressive denizens: the sperm whale.</p>
        <div class="flex flex-row w-full justify-between">
            <ul class="tags flex flex-row">
                <li class="tag">
                    <a href="#">design</a>
                </li>
                <li class="tag">
                    <a href="#">dev</a>
                </li>
            </ul>
            <a class="" href="#">Read more →</a>
        </div>
    </div>

    <div class="entry relative mb-20 md:mb-32 lg:mb-40">
        <div class="mono text-12 text-textSubtle mb-3 lg:absolute lg:w-40 lg:mt-3 lg:-ml-48 lg:text-right">March 08,
            2020
        </div>
        <h1 class="text-24 md:text-28 lg:text-32 text-textContrast mb-5">
            <a href="#">Asian Jim knows Jim's password therefore must be Jim. Classic!
                <svg class="inline-block h-5 md:h-6 fill-current text-textSubtle" <svg viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.604 1h4.14 -.01c.13-.01.25.11.25.24v4.14l-.01-.01c0 .13-.12.25-.25.25 -.07 0-.14-.03-.18-.08l-1.55-1.55 -3.75 3.75 0-.001c-.31.28-.78.26-1.06-.04 -.27-.29-.27-.74-.001-1.03l3.75-3.75 -1.55-1.55 -.01-.01c-.1-.1-.1-.26-.01-.36 .04-.05.11-.08.17-.08ZM3.74 2l-.01 0c-.97 0-1.75.78-1.75 1.75v8.5c0 .96.78 1.75 1.75 1.75h8.5l-.01-.001c.96 0 1.75-.79 1.75-1.75 0-.01 0-.01 0-.01v-3.5 0c0-.42-.34-.75-.75-.75 -.42 0-.75.33-.75.75v3.5 0c0 .13-.12.25-.25.25h-8.5 -.01c-.14-.01-.25-.12-.25-.26v-8.5l0 0c-.01-.14.11-.26.24-.26h3.5l-.01-.001c.41 0 .75-.34.75-.75 0-.42-.34-.75-.75-.75h-3.5Z" />
                </svg>
            </a>
        </h1>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cLNyF1Zw5tg?controls=0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
                    <p>It is in our nature to be anthropocentric — to believe that everything revolves around human beings and our
            needs. </p>

                    <div class="flex flex-row w-full justify-between">
                        <ul class="tags flex flex-row">
                            <li class="tag">
                                <a href="#">life</a>
                            </li>

                        </ul>
                        {# <a class="" href="#">Read more →</a> #}
                    </div>
                </div>

                <div class="entry relative mb-20 md:mb-32 lg:mb-40">
                    <div class="mono text-12 text-textSubtle mb-3 lg:absolute lg:w-40 lg:mt-3 lg:-ml-48 lg:text-right">March 08,
            2020
        </div>
                    <h1 class="text-24 md:text-28 lg:text-32 text-textContrast mb-5">
                        <a href="#">South compare live probably leader life have
                president</a>
                    </h1>
                    <figure class="my-5">
                        <img src="https://placeimg.com/1000/580/animals" alt="">
                        <figcaption class="text-12 text-textSubtle text-center mt-2">Excepturi iure quae recusandae a quam officia
                voluptate.
            </figcaption>
                    </figure>
                    <p>It is in our nature to be anthropocentric — to believe that everything revolves around human beings and our
            needs. </p>
                    <p>
            When we consider what sets us apart, we think of things like culture and traditions, the importance of
            family, a sense of self, and <a href="#">the ability</a> to reason and introspect. We consider that our
            large brains grant us a position of superiority.</p>
                    <aside
            class="mono casual hidden text-12 text-textSubtle mb-3 lg:inline-block lg:absolute lg:right-0 lg:w-40 xl:w-56 lg:-mr-48 xl:-mr-64 lg:text-left">
            First be tax chance collection chair. <a href="#">Record somebody just capital.</a> Go lot check natural.
            None imagine address.</aside>
                    <p>
            I assume it would bother people who think this way to learn that we are far from unique in these respects.
            In fact, I hope to bother them today with a brief discussion of one of the animal kingdom’s most
            intelligent, mysterious, and impressive denizens: the sperm whale.</p>
                    <div class="flex flex-row w-full justify-between">
                        <ul class="tags flex flex-row">
                            <li class="tag">
                                <a href="#">life</a>
                            </li>

                        </ul>
                        <a class="" href="#">Read more →</a>
                    </div>
                </div>

                <div class="entry relative mb-20 md:mb-32 lg:mb-40">
                    <div class="mono text-12 text-textSubtle mb-3 lg:absolute lg:w-40 lg:mt-3 lg:-ml-48 lg:text-right">March 08,
            2020
        </div>

                    <h1 class="text-24 md:text-28 lg:text-32 text-textContrast mb-5">
                        <a href="#">
                South compare live probably leader life have
                president <svg class="inline-block h-5 md:h-6 fill-current text-textSubtle" <svg viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.604 1h4.14 -.01c.13-.01.25.11.25.24v4.14l-.01-.01c0 .13-.12.25-.25.25 -.07 0-.14-.03-.18-.08l-1.55-1.55 -3.75 3.75 0-.001c-.31.28-.78.26-1.06-.04 -.27-.29-.27-.74-.001-1.03l3.75-3.75 -1.55-1.55 -.01-.01c-.1-.1-.1-.26-.01-.36 .04-.05.11-.08.17-.08ZM3.74 2l-.01 0c-.97 0-1.75.78-1.75 1.75v8.5c0 .96.78 1.75 1.75 1.75h8.5l-.01-.001c.96 0 1.75-.79 1.75-1.75 0-.01 0-.01 0-.01v-3.5 0c0-.42-.34-.75-.75-.75 -.42 0-.75.33-.75.75v3.5 0c0 .13-.12.25-.25.25h-8.5 -.01c-.14-.01-.25-.12-.25-.26v-8.5l0 0c-.01-.14.11-.26.24-.26h3.5l-.01-.001c.41 0 .75-.34.75-.75 0-.42-.34-.75-.75-.75h-3.5Z" />
                </svg> </a></h1>

                                <p>Will Schreiber:</p>

                                <blockquote>
                                    <p>I haven’t installed MSFT Office on a machine since 2009. Sheets and Docs have been good enough for me.
                The theoretical unlimited computing power and collaboration features meant Google Docs was better than
                Office (and free!).</p>
                                    <p>Then something happened at Google. I’m not sure what. But they stopped innovating on cloud software.</p>
                                </blockquote>
                                <p>Little kid clear party car message situation now. Deserunt voluptatibus omnis. Iste doloremque consequuntur consectetur.</p>
                                <blockquote class="large">

                                    <p>Docs and Sheets haven’t changed in a decade. Google Drive remains impossible to navigate. Sharing is
                complicated. Sheets freezes up. I can’t easily interact with a Sheets API (I’ve tried!). Docs still
                shows page breaks by default! WTF!</p>
                                </blockquote>
                                <div class="flex flex-row w-full justify-between">
                                    <ul class="tags flex flex-row">
                                        <li class="tag">
                                            <a href="#">life</a>
                                        </li>

                                    </ul>
                                    <a class="" href="#">Read more →</a>
                                </div>
                            </div>

                            <ul>
                                {% set items = pagination.items | reverse %}

                                {% for entry in items %}
                                    <li class="mb-3 lg:mb-0">
                                        <a class="py-1 lg:flex items-center justify-between no-underline" href="{{ entry.url }}">
                                            <span class="underline">{{ entry.data.title }}</span>
                                            {% if entry.data.tags %}
                                                <ul>
                                                    {% for tag in entry.data.tags %}
                                                        <li>{{ tag }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <time data-date="{{ entry.date }}" datetime="{{ entry.date | htmlDateString }}"
                    class="post-date block text-gray-500 text-sm mt-1 lg:mt-0">{{ entry.date | prettyDate }}</time>
                                        </a>
                                        {% if entry.data.page.excerpt %}
                                            {{ entry.data.page.excerpt | md | safe }}
                                        {% else %}
                                            {{ content }}
                                            <p>test</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>

                        </section>