---
layout: base.njk
title: Library
description: A running log of all the movies, TV shows, video games, and books I’ve been spending time with.

pagination:
  data: collections.library
  size: 100
  reverse: true
---

<section id="intro" class="mb-20 sm:mb-32 lg:mb-40">

    <h1 class="title  leading-tight mt-0 mb-2">{{ title }}</h1>
    <h2 class="subtitle text-18 leading-snug text-textSubtle mt-2 mb-4">{{ description }}</h2>

</section>

<section id="main" class="-mt-12">

    <div class="flex flex-col">
        {% set currentYear = "" %}
        {% set currentMonth = "" %}
        {% set inProgress = "" %}
        {% set months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ] %}
        {% set items = pagination.items %}

        {% for entry in items %}
            {% if entry.data.progress %}
                {% if inProgress != true %}
                    <h3 class="text-textContrast mt-12 mb-2">In progress</h3>
                    <hr class="border-bgContrast mt-0 mb-5">
                    {% set inProgress = true %}
                {% endif %}

            {% endif %}

            {% if entry.date and not entry.data.progress %}

                {% set entryYear = entry
                    .date
                    .getFullYear() %}
                {% set entryMonth = entry
                    .date
                    .getMonth() %}

                {% if currentYear != entryYear %}
                    {% set currentYear = entryYear %}
                    <h2 class="text-text mt-20 mb-0">{{ entryYear }}</h2>
                {% endif %}

                {% if currentMonth != entryMonth %}
                    {% set currentMonth = entryMonth %}
                    <h3 class="text-textContrast mt-12 mb-2">{{ months[entryMonth] }}
                        {{ entryYear }}</h3>
                    <hr class="border-bgContrast mt-0 mb-5">
                {% endif %}
            {% endif %}

            <div class="flex mb-4">
                {% if entry.data.progress %}
                    <div class="flex-shrink mono mr-4"> — </div>
                {% else %}
                    <div class="flex-shrink mono mr-4">{{ entry.date | dayDate }}</div>
                {% endif %}

                <div class="flex-1 flex flex-row">
                    {% if (entry.data.artwork) and (entry.data.rating == 5 or entry.data.progress or entry.data.type == "book") %}
                        <div class="flex-shrink w-14 mr-4">
                            <img src="{{ entry.data.artwork }}" class="rounded-sm" alt="{{ entry.data.title }}" srcset="">
                        </div>
                    {% endif %}
                    <div class="flex-1 flex flex-col sm:flex-row">
                        <div class="flex self-start sm:flex-1 mb-1 sm:mb-0 sm:mr-3">
                            <span class="mb-0 mr-2 flex flex-wrap items-center" >
                                {% if entry.templateContent %}
                                    <span class="inline">
                                        <a href="{{ entry.url }}" class="title text-textContrast mr-2">{{ entry.data.title }}</a>
                                    </span>
                                {% else %}
                                    <span class="title text-textContrast mr-2">{{ entry.data.title }}</span>
                                {% endif %}
                                {% if entry.data.subtitle %}
                                    <span class="-ml-.5 mr-2 text-textContrast">
                                        {% if entry.data.type == "book" %} by {% endif %}
                                        {{ entry.data.subtitle }}</span>
                                {% endif %}

                                <span class="inline mr-2">{{ entry.data.released }}
                                    {{ entry.data.type }}</span>
                                {% if entry.data.repeat == true %}
                                    <svg class="inline mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <title>repeat</title>
                                        <g clip-path="url(#clip0)">
                                            <path d="M11.3333 0.666687L13.9999 3.33335L11.3333 6.00002" stroke="#73829E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M2 7.33331V5.99998C2 5.29274 2.28095 4.61446 2.78105 4.11436C3.28115 3.61426 3.95942 3.33331 4.66667 3.33331H14" stroke="#73829E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M4.66667 15.3333L2 12.6667L4.66667 10" stroke="#73829E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M14 8.66669V10C14 10.7073 13.719 11.3855 13.219 11.8856C12.7189 12.3857 12.0406 12.6667 11.3333 12.6667H2" stroke="#73829E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="16" height="16" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>

                                {% endif %}
                            </div>
                            {% if entry.data.progress and entry.data.progress != true %}
                                <progress class="h-2 w-20 mt-1 sm:mt-2" value="{% if entry.data.progress[0] %}{{ entry.data.progress[0] }}{% else %}{{ entry.data.progress }}{% endif %}" max="{% if entry.data.progress[1] %}{{ entry.data.progress[1] }}{% else %}100{% endif %}" >
                                    {{ entry.data.progress }}
                                </progress>
                            {% elif not entry.data.progress and entry.data.rating %}
                                <div class="sm:flex-shrink sm:my-1 rating rating-{{ entry.data.rating }}">
                                    <ul class="flex flex-row">
                                        <li>
                                            <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" transform="">
                                                    <path class="star-base" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z"></path>
                                                    <path class="star-half" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z"></path>
                                                </g>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" transform="">
                                                    <path class="star-base" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z"></path>
                                                    <path class="star-half" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z"></path>
                                                </g>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" transform="">
                                                    <path class="star-base" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z"></path>
                                                    <path class="star-half" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z"></path>
                                                </g>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" transform="">
                                                    <path class="star-base" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z"></path>
                                                    <path class="star-half" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z"></path>
                                                </g>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg display="flex" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                <g fill="none" transform="">
                                                    <path class="star-base" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004 2.4696 5.004 5.5216.8024-3.996 3.8944.944 5.4992z"></path>
                                                    <path class="star-half" d="m8 13.1032-4.9384 2.596.9432-5.4992-3.9968-3.8944 5.5216-.8024 2.4704-5.004z"></path>
                                                </g>
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </section>

    {# Update above with Gap once Flex Gap works in Safari (Mac & iOS) #}
    {# <div class="flex gap-4">
                <div class="flex-shrink mono">12</div>
                <div class="flex-1 flex flex-row gap-4">
                    <div class="flex-shrink w-14">
                        <img src="https://placeimg.com/200/280/" alt="" srcset="">
                    </div>
                    <div class="flex-1 flex flex-col sm:flex-row gap-1 sm:gap-3 ">
                        <div class="sm:flex-1">
                            <span class="mr-2 text-textContrast" >I Care a Lot Santa Cruz when you're running Tailwind locally</span>
                            <span class="inline-block">2021 film</span>
                        </div>
                        <div class="sm:flex-shrink">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div> #}