---
layout: base.njk
title: Library
description: A running log of all the films, TV shows, video games, and books I’ve been spending time with.

pagination:
  data: collections.library
  size: 20
  reverse: true
---

<section id="intro" class="mb-20 md:mb-32 lg:mb-40">

    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle text-18">{{ description }}</h2>

</section>

<section id="main">

    <div class="flex flex-col -mt-24">
        {% set currentYear = "" %}
        {% set currentMonth = "" %}
        {% set inProgress = "" %}
        {% set months = [
            "January",
            "Feburary",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
        ] %}
        {% set items = pagination.items %}

        {% for entry in items %}
            {# {% if entry.data.progress %}
                {% if inProgress != true %}
                    <h3 class="text-textContrast mt-12 mb-2">In progress</h3>
                    {% set currentMonth == true %}
                {% endif %}

            {% endif %} #}

            {% if entry.date %}

                {% set entryYear = entry
                    .date
                    .getFullYear() %}
                {% set entryMonth = entry
                    .date
                    .getMonth() %}

                {% if currentYear != entryYear %}
                    {% set currentYear = entryYear %}
                    <h2 class="text-text mt-20 mb-0">{{ entryYear }}</h2>
                {% endif %}

                {% if currentMonth != entryMonth %}
                    {% set currentMonth = entryMonth %}
                    <h3 class="text-textContrast mt-12 mb-2">{{ months[entryMonth] }}
                        {{ entryYear }}</h3>
                    <hr class="border-bgContrast mt-0 mb-5">
                {% endif %}
            {% endif %}

            <div class="flex mb-4">
                <div class="flex-shrink mono mr-4">{{ entry.date | dayDate }}</div>
                <div class="flex-1 flex flex-row">
                    {% if (entry.data.artwork) and (entry.data.rating == 5) %}
                        <div class="flex-shrink w-14 mr-4">
                            <img src="{{ entry.data.artwork }}" class="rounded-sm" alt="{{ entry.data.title }}" srcset="">
                        </div>
                    {% endif %}
                    <div class="flex-1 flex flex-col md:flex-row">
                        <div class="md:flex-1 mb-1 md:mb-0 md:mr-3">
                            <span class="mr-2 text-textContrast" >{{ entry.data.title }}</span>
                            <span class="inline-block">{{ entry.data.released }}
                                {{ entry.data.type }}</span>
                        </div>
                        <div class="md:flex-shrink">{{ entry.data.rating }}</div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

</section>

{# Update above with Gap once Flex Gap works in Safari (Mac & iOS) #}
{# <div class="flex gap-4">
                <div class="flex-shrink mono">12</div>
                <div class="flex-1 flex flex-row gap-4">
                    <div class="flex-shrink w-14">
                        <img src="https://placeimg.com/200/280/" alt="" srcset="">
                    </div>
                    <div class="flex-1 flex flex-col md:flex-row gap-1 md:gap-3 ">
                        <div class="md:flex-1">
                            <span class="mr-2 text-textContrast" >I Care a Lot Santa Cruz when you're running Tailwind locally</span>
                            <span class="inline-block">2021 film</span>
                        </div>
                        <div class="md:flex-shrink">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div> #}