---
layout: base.njk
title: Work
description: A few select projects I've worked on
---

<section id="intro" class="mb-20 md:mb-32 lg:mb-40">

    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle  text-18">{{ description }}</h2>

</section>

<section id="main">

    <h1 class="gradient">Coming soon</h1>

</section>